@model WLpartical.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPosition)
        </dd>
    </dl>
</div>
<div>

    <button onclick="window.location.href='@Url.Action("Index")'" class="btn btn-info">Back</button>
</div>
